*,
html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

div,
p,
h1,
section {
    border: 1px solid black;
}

section {
    display: flex;
    flex-direction: row;
    border-radius: 2em;
    overflow: hidden;
    max-width: 1000px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    background-color: white;
}

.right {
    padding: 2em;
}

h1 {
    align-self: flex-start;
    margin: 2em 0;
}

.mobile {
    flex-basis: 0%;
    display: none;
}

button {
    width: 100%;
}

:root {
    --color-very-dark-blue: hsl(238, 29%, 16%);
    --color-soft-red: hsl(14, 88%, 65%);
    --color-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-dark-grayish-blue: hsl(240, 6%, 50%);

    --color-bg-violet: hsl(273, 75%, 66%);
    --color-bg-blue: hsl(240, 73%, 65%);
}