.card {
    background-color: white;
    margin: auto;
    margin-block: 1em;
    padding: 1em;
    width: 100%;
    padding-block: 3em;
    border-radius: 0.4em;
    position: relative;
}

.feat {
    border-left: 5px solid var(--clr-desaturated-cyan);
}

.company {
    font-weight: 700;
    font-size: 1.1em;
    color: var(--clr-desaturated-cyan);

}

.card__new,
.card__featured {
    background-color: var(--clr-desaturated-cyan);
    padding: 0.3em;
    border-radius: 0.8em;
    margin-inline: 0.5em;
    color: white;
    text-transform: uppercase;
}

.card__featured {
    background-color: var(--clr-very-dark-grayish-cyan);
}

.card__position {
    margin-block: 1em;
    font-weight: 700;
    font-size: 1.1em;
}

.card__opts {
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--clr-dark-grayish-cyan);
    color: var(--clr-dark-grayish-cyan);
    padding-bottom: 1em;
}

.tags {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.tag {
    background-color: var(--clr-filter-tablets);
    color: var(--clr-desaturated-cyan);
    font-weight: 700;
    font-size: 1.1em;
    /* margin-right: 1em; */
    padding: 0.5em;
    border-radius: 0.2em;
}

.tag:last-of-type {
    margin-right: 0;
}

.card img {
    width: 3.5em;
    position: absolute;
    top: -1.75em;
}