@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

*,
html,
body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid gray; */

}

html,
body,
#root {
  width: 100%;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;

}

:root {
  --clr-desaturated-cyan: hsl(180, 29%, 50%);
  --clr-background: hsl(180, 52%, 96%);
  --clr-filter-tablets: hsl(180, 31%, 95%);
  --clr-dark-grayish-cyan: hsl(180, 8%, 52%);
  --clr-very-dark-grayish-cyan: hsl(180, 14%, 20%);




}